{% extends 'book_outlet/base.html' %}

{% block title %}
  All Books
{% endblock %}
{% block content %}
  <h1>All Books ({{ total_count }} Books)</h1>
  <h2>Overall rating: {{ rating_avg|floatformat:1 }} of 5</h2>
  <ul>
    {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">
          <p>
            <strong>{{ book.title }}</strong>
          </p>
        </a>
        <p>
          <small>Author: {{ book.author }}</small>
        </p>
        <p>
          <small>Rating: {{ book.rating }} of 5</small>
        </p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
